html, body, .App {
  height: 100vh;
  color: beige;
}
.App {
  background-color: #ffffff;
}
.App-header {
  background: grey;
  height: 50px;
  text-align: center;
}
.Corps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 50px);
}
.left, .right {
  width: 200px;
}
.center {
  width: 100%;
}
.bg-utilisateur {
  background-color: rgb(30, 30, 30);
}
.bg-commentaire {
  background-color: rgb(40, 40,40 );
}
.bg-sujet {
  background-color: rgb(30, 30, 30);
}
.Commentaires flexcol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Commentaires {
  overflow: scroll;
  height: calc(100% - 200px);
}
.Ecrire {
  height: 200px;
}
textarea {
  height: 150px;
  width: 90%;
  margin: 0px auto;
  display: block;
  resize: none;
  background-color: grey;
}
.Ecrire button {
  height: 30px;
  width: 50%;
  margin: 0 auto;
  display: block;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.bold {
  font-weight: bold;
}
